/* reusable classes */

.text-weight-500 {
  font-weight: 500;
}

.text-weight-600 {
  font-weight: 600;
}
.text-weight-700 {
  font-weight: 700;
}

.hidden {
  display: none;
}

.gray {
  color: hsl(0, 0%, 63%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Spartan", sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
}

/* // top half of the site // */
#top-area-with-navbar {
  width: 100%;
  height: 60%;
  display: flex;
}

.top-picture {
  width: 60%;
  height: 100%;
  background: url(/Room-Homepage/images/desktop-image-hero-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.top-picture-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  color: white;
}

.hamburger-navbar {
  width: 70%;
  height: 20%;
  display: flex;
  justify-content: center;
}

.button-area {
  display: none;
}

.nav-links {
  width: 70%;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-links li a {
  color: white;
  text-decoration: none;
}

.nav-links-mobile {
  width: 70%;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  display: none;
}

.nav-links-mobile li a {
  text-decoration: none;
  color: black;
}

/* // DESKTOP STYLING STARTS HERE // */

/* // top right side of the site // */
.discover-section {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.discover-inside-content {
  width: 70%;
  height: 60%;
}

.discover-header {
  font-size: 1.75rem;
  padding-bottom: 20px;
}

.main-text {
  line-height: 1.75rem;
}

.shop-now {
  font-size: 1rem;
}

.shop-now:hover {
  color: hsl(0, 0%, 63%);
}

.shop-now {
  border: none;
  background: none;
  letter-spacing: 1rem;
  padding-top: 20px;
}

#bottom-area {
  width: 100%;
  height: 40%;
  background: lightgreen;
  display: flex;
}

.bottom-chair-picture {
  width: 30%;
  height: 100%;
  background: url(/Room-Homepage/images/image-about-dark.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.about-our-furniture {
  width: 40%;
  height: 100%;
}

.bottom-light-picture {
  width: 30%;
  height: 100%;
  background: url(/Room-Homepage/images/image-about-light.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* // MOBILE STYLING STARTS HERE // */
@media screen and (max-width: 850px) {
  .container {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  #top-area-with-navbar {
    width: 100%;

    display: block;
    flex-direction: column;
  }

  .top-picture {
    width: 100%;
    height: 50vh;
    background: url(/Room-Homepage/images/mobile-image-hero-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .hamburger-navbar {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: start;
  }

  .top-picture-header {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }

  .button-area {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hamburger-button {
    width: 25px;
    height: 20px;
    border: none;
    background: none;
  }

  .hamburger-icon {
    width: 100%;
    height: 100%;
  }

  .nav-links {
    display: none;
  }

  .discover-section {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .discover-header {
    padding-bottom: 20px;
    font-size: 5vw;
  }

  .discover-inside-content {
    width: 80vw;
    height: 70%;
  }

  .main-text {
    font-size: 3.5vw;
    line-height: 3vh;
  }

  .shop-now {
    font-size: 2.5vh;
    display: flex;
    letter-spacing: 5vw;
  }

  #bottom-area {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: lightgreen;
  }

  .bottom-chair-picture {
    width: 100%;
    height: 40vh;
    background: url(/Room-Homepage/images/image-about-dark.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .about-our-furniture {
    width: 100%;
    height: 50vh;
  }

  .bottom-light-picture {
    width: 100%;
    height: 40vh;
    background: url(/Room-Homepage/images/image-about-light.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

@media screen and (max-height: 570px) {
  .discover-inside-content {
    width: 80%;
    height: 80%;
  }

  .main-text {
    font-size: 90%;
    line-height: 1rem;
  }
}

/* // SPECIFIC IPAD STYLING // */

/* (portrait mode)  */
/* @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .main-text {
    line-height: 2rem;
  }

  .shop-now {
    font-size: 1.25rem;
    letter-spacing: 1.5rem;
  }

  .nav-links-mobile li {
    font-size: 1.5rem;
  }

  .top-picture-header {
    font-size: 2rem;
  }
} */

/* // (landscape mode) // */
/* @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .discover-inside-content {
    width: 80%;
    height: 70%;
  }
} */
