/* reusable classes */

.text-weight-500 {
  font-weight: 500;
}

.text-weight-600 {
  font-weight: 600;
}
.text-weight-700 {
  font-weight: 700;
}

.hidden {
  display: none;
}

.gray {
  color: hsl(0, 0%, 63%);
}

.transition {
  transition: all 400ms ease;
}

/* // universal styling // */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Spartan", sans-serif;
}

.container {
  width: 100%;
  height: 100%;
}

/* // mobile first styling // */

/* // top area with navbar // */
/* // top picture with hamburger menu and image slider // */
.top-picture {
  width: 100%;
  height: 50vh;
  background: url(/Room-Homepage/images/mobile-image-hero-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hamburger-navbar {
  width: 100%;
  height: 30%;
  display: flex;
}

.button-area {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hamburger-button {
  border: none;
  background: none;
}

.hamburger-icon {
  width: 1.75rem;
  height: 1.5rem;
}

.top-picture-header {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.nav-links {
  display: none;
}

.nav-links-mobile {
  width: 75%;
  height: 100%;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  display: none;
}

.nav-links-mobile li a {
  text-decoration: none;
}

.image-slider {
  display: none;
}

.image-slider-mobile {
  width: 100%;
  display: flex;
  justify-content: end;
}

.left-slider-mobile {
  width: 4rem;
  height: 4rem;
  border: none;
  background: black;
}

.right-slider-mobile {
  width: 4rem;
  height: 4rem;
  border: none;
  background: black;
}

.discover-section {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.discover-inside-content {
  width: 80%;
  height: 80%;
}
.discover-header {
  padding-bottom: 10px;
  font-size: 1.75rem;
}

.main-text {
  font-size: 1rem;
}

.shop-now {
  width: 100%;
  border: none;
  background: none;
  padding-top: 20px;
  letter-spacing: 1rem;
  text-align: left;
}

/* // bottom area // */

.bottom-dark-picture {
  width: 100%;
  height: 40vh;
  background: url(/Room-Homepage/images/image-about-dark.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-our-furniture {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-furniture-inside-content {
  width: 80%;
  height: 80%;
}

.about-furniture-header {
  font-size: 1rem;
  letter-spacing: 0.25rem;
  padding-bottom: 10px;
}

.about-main-text {
  font-size: 1rem;
  line-height: 1.25rem;
}
.bottom-light-picture {
  width: 100%;
  height: 50vh;
  background: url(/Room-Homepage/images/image-about-light.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* // for mobile phone landscape // */
@media screen and (min-width: 567.98px) {
  .top-picture {
    height: 100vh;
  }

  .top-picture-header {
    font-size: 2rem;
  }

  .nav-links-mobile {
    font-size: 1.25rem;
  }

  .left-slider {
    width: 5rem;
    height: 5rem;
  }

  .right-slider {
    width: 5rem;
    height: 5rem;
  }

  .discover-section {
    height: 100vh;
  }

  .discover-inside-content {
    width: 70%;
  }

  .discover-header {
    font-size: 2.25rem;
  }

  .main-text {
    /* font-size: 1.25rem; */
    line-height: 1.75rem;
  }

  .about-furniture-inside-content {
    height: 70%;
  }

  .shop-now {
    text-align: left;
    letter-spacing: 2rem;
  }

  .bottom-dark-picture {
    height: 100vh;
  }

  .about-our-furniture {
    height: 100vh;
  }

  .about-furniture-header {
    font-size: 1.5rem;
    text-align: center;
  }

  .about-main-text {
    line-height: 1.5rem;
  }

  .bottom-light-picture {
    height: 100vh;
  }
}

/* // tablet portrait mode styling // */
@media screen and (min-width: 767.98px) {
  .top-picture {
    height: 50vh;
  }

  .nav-links-mobile {
    font-size: 1.5rem;
  }

  .left-slider-mobile {
    width: 6rem;
    height: 6rem;
  }

  .right-slider-mobile {
    width: 6rem;
    height: 6rem;
  }

  .discover-section {
    height: 50vh;
  }

  .discover-header {
    font-size: 3rem;
  }

  .main-text {
    font-size: 1.25rem;
    line-height: 2rem;
  }

  .shop-now {
    letter-spacing: 2rem;
    font-size: 1.25rem;
  }

  .bottom-dark-picture {
    height: 40vh;
  }

  .about-our-furniture {
    height: 50vh;
  }

  .about-furniture-header {
    font-size: 2rem;
  }

  .about-main-text {
    font-size: 1.25rem;
    line-height: 2rem;
  }

  .bottom-light-picture {
    height: 40vh;
  }
}

/* // tablet landscape mode // */
@media screen and (min-width: 1024px) {
  #top-area-with-navbar {
    width: 100%;
    height: 70%;
    display: flex;
  }

  .top-picture {
    height: 100%;
    width: 60%;
    background: url(/Room-Homepage/images/desktop-image-hero-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .top-picture-header {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .discover-section {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
  }

  .discover-inside-content {
    height: 65%;
  }

  .discover-header {
    font-size: 2.25rem;
  }

  .left-slider:hover {
    background-color: hsl(0, 0%, 63%);
  }
  .right-slider:hover {
    background-color: hsl(0, 0%, 63%);
  }

  .main-text {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .shop-now {
    font-size: 1rem;
    letter-spacing: 1.25rem;
    text-align: left;
  }

  .image-slider {
    width: 100%;
  }

  #bottom-area {
    width: 100%;
    height: 30%;
    display: flex;
  }
  .bottom-dark-picture {
    width: 25%;
    height: 100%;
  }

  .about-our-furniture {
    width: 50%;
    height: 100%;
  }

  .about-furniture-header {
    font-size: 1.25rem;
  }

  .about-main-text {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .bottom-light-picture {
    width: 25%;
    height: 100%;
  }

  /* // getting rid of mobile only elements // */
  .image-slider-mobile {
    display: none;
  }
  .button-area {
    display: none;
  }

  /* // inserting non mobile elements // */
  .nav-links {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    list-style-type: none;
  }

  .nav-links li a {
    text-decoration: none;
    font-size: 1rem;
    color: white;
  }

  .image-slider {
    display: flex;
  }

  .left-slider {
    width: 5rem;
    height: 5rem;
    border: none;
    background: black;
    transition: all 0.4s ease;
  }

  .right-slider {
    width: 5rem;
    height: 5rem;
    border: none;
    background: black;
    transition: all 0.4s ease;
  }
}

/* // specific phone styling (smallest to largest) // */

/* // very specific small phone styling (excluding iphone 5/SE). mainly for sizing of discover section.// */
/* // portrait mode // */
@media screen and (min-width: 320px) and (max-width: 360.98px) {
  .discover-inside-content {
    width: 90%;
    height: 80%;
  }

  .discover-header {
    padding-bottom: 10px;
    font-size: 1.5rem;
  }

  .shop-now {
    padding-top: 10px;
  }
}

/* // specific iphone 5/SE styling. mainly for sizing of discover section // */
@media screen and (width: 320px) {
  .discover-inside-content {
    width: 90%;
    height: 80%;
  }
  .main-text {
    font-size: 0.85rem;
  }

  .about-furniture-inside-content {
    width: 90%;
  }
  .about-furniture-header {
    padding-bottom: 10px;
  }

  .about-main-text {
    font-size: 0.75rem;
  }
}

/* // iphone 5/SE landscape mode // */
@media screen and (width: 568px) and (height: 320px) {
  .discover-header {
    font-size: 2rem;
  }

  .main-text {
    line-height: 1.25rem;
  }

  .shop-now {
    letter-spacing: 1.5rem;
  }
}

/* // bigger phones landscape mode // */
@media only screen and (min-device-width: 812px) and (max-device-width: 846.98px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .top-picture {
    height: 100vh;
  }

  .top-picture-header {
    font-size: 2rem;
  }

  .nav-links-mobile {
    font-size: 1.25rem;
  }

  .left-slider {
    width: 5rem;
    height: 5rem;
  }

  .right-slider {
    width: 5rem;
    height: 5rem;
  }

  .discover-section {
    height: 100vh;
  }

  .discover-header {
    font-size: 2.5rem;
  }

  .main-text {
    font-size: 1rem;
  }

  .shop-now {
    font-size: 1rem;
  }

  .bottom-dark-picture {
    height: 100vh;
  }

  .about-our-furniture {
    height: 100vh;
  }

  .bottom-light-picture {
    height: 100vh;
  }
}

/* // regular ipad landscape // */
@media screen and (width: 1024px) and (height: 768px) {
  .discover-inside-content {
    height: 60%;
    width: 80%;
  }

  .discover-header {
    font-size: 1.75rem;
  }

  .main-text {
    font-size: 0.75rem;
    line-height: 1.25rem;
  }

  .shop-now {
    font-size: 1rem;
    letter-spacing: 1rem;
  }

  .about-furniture-inside-content {
    height: 70%;
  }
  .about-main-text {
    font-size: 0.75rem;
  }
}

/* // ipad pro styling (portrait mode) // */
@media screen and (width: 1024px) and (height: 1366px) {
  #top-area-with-navbar {
    height: auto;
    flex-direction: column;
  }

  .top-picture {
    width: 100%;
    height: 50vh;
  }

  .top-picture-header {
    width: 50%;
    font-size: 3rem;
  }

  .button-area {
    display: flex;
  }

  .hamburger-icon {
    width: 3rem;
    height: 2.5rem;
  }

  .left-arrow {
    width: 1.5rem;
  }
  .right-arrow {
    width: 1.5rem;
  }

  .left-slider-mobile {
    width: 10rem;
    height: 10rem;
  }
  .right-slider-mobile {
    width: 10rem;
    height: 10rem;
  }

  .nav-links {
    display: none;
  }

  .nav-links-mobile {
    font-size: 2rem;
  }

  .discover-section {
    width: 100%;
    height: 50vh;
  }

  .discover-inside-content {
    width: 80%;
    height: 90%;
  }

  .discover-header {
    font-size: 3.5rem;
    padding-bottom: 30px;
  }

  .main-text {
    font-size: 1.75rem;
    line-height: 2.5rem;
  }

  .shop-now {
    font-size: 1.5rem;
    letter-spacing: 3rem;
    padding-top: 30px;
  }

  .image-slider {
    display: none;
  }

  .image-slider-mobile {
    display: flex;
  }
  #bottom-area {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .bottom-dark-picture {
    width: 100%;
    height: 40vh;
  }

  .about-our-furniture {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about-furniture-inside-content {
    width: 80%;
    height: 70%;
  }

  .about-furniture-header {
    font-size: 2.75rem;
    letter-spacing: 0.5rem;
    padding-bottom: 20px;
  }

  .about-main-text {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  .bottom-light-picture {
    width: 100%;
    height: 40vh;
  }
}
